<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<table class="table table-dark">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Created at</th>
        <th scope="col">Waiting</th>
        <th scope="col">Credentials</th>
        <th scope="col">Ordered drinks</th>
    </tr>
    </thead>
    <tr th:each="order : ${orders.getOrders()}">
        <th scope="row" th:text="${order.id}">Empty</th>
        <td th:classappend="${order.orderStatus.toString() == 'CLOSED' ? 'bg-danger' : 'bg-success'}" th:text="${order.orderStatus}">Empty</td>
        <td th:text="${#dates.format(new java.util.Date(order.creationTime))}">Empty</td>
        <td th:text="${#dates.format(new java.util.Date(order.waitingTime))}">Empty</td>
        <td th:text="${order.credentials.toString()}">Empty</td>
        <td th:text="${order.shoppingCart.showDrinks()}">Empty</td>
    </tr>
</table>

<h2> <p th:text= ${message} /></h2>
</body>
</html>