﻿<!DOCTYPE html>
<html>
<head>
  <title>Тест</title>

</head>
<body>
<div class="test-page">
  <div class="form">
    <div class="col-md-6 col-md-offset-3" [hidden]="submitted">
      <h1>Здравствуйте, {{userName}}!</h1>
      <p>
        <button (click)="test()">Начать тест линии</button>
      </p>
      <div class="result" name="result">
        <p>{{result}}</p>
      </div>
      <p>
        <button [routerLink]="['/login']" (click)="logout()">Выйти</button>
      </p>
    </div>

    <div class="col-md-6 col-md-offset-3" [hidden]="!submitted">
      <h1>Тест линии</h1>
      <div id="circle-container"></div>
      <div class="result" name="result">
        <p>{{result}}</p>
      </div>
      <p>
        <button (click)="clear()">Очистить тест</button>
      </p>
      <div class="logoutbutton">
        <p>
          <button [routerLink]="['/login']" (click)="logout()">Выйти</button>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>

