﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Войти</title>
</head>

<body>
<div class="login-page">
  <div class="form">
    <h1>Добро пожаловать</h1>
    <form class="login-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text" name="username" placeholder="username" [(ngModel)]="model.username" #username="ngModel"
               required/>
        <div *ngIf="f.submitted && !username.valid">Необходимо ввести логин</div>
      </div>
      <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input type="password" name="password" placeholder="password" [(ngModel)]="model.password" #password="ngModel"
               required/>
        <div *ngIf="f.submitted && !password.valid">Необходимо ввести пароль</div>
      </div>
      <div>
        <button [disabled]="loading">Войти</button>
      </div>
    </form>
  </div>
</div>
</body>

</html>
